[Desktop Entry]
Name=Zen Browser
Exec=zen-beta %u
Icon=zen-beta
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=zen-beta
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-private-window;profilemanager;

[Desktop Action new-window]
Name=Open a New Window
Exec=zen-beta %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=zen-beta --private-window %u

[Desktop Action profilemanager]
Name=Open the Profile Manager
Exec=zen-beta --ProfileManager %u