name: "Flake.lock: update Nix dependencies"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 1,15 * *" # runs at 00:00 on the 1st and 15th of each month

jobs:
  nix-flake-update:
    name: "Update Nix flake inputs"
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/update-flake-lock@e637603d31bed83169f2e56bb475c9dff7af6544
        with:
          pr-title: "Update Nix flake inputs"
          pr-labels: |
            dependencies
            automated
